# ==========================================
# SNOWFLAKE CONFIGURATION
# ==========================================
# Format: <account_locator>
# Exemple: xy12345
SNOWFLAKE_ACCOUNT=

# Votre username Snowflake
SNOWFLAKE_USER=

# Authentification par clé RSA
SNOWFLAKE_PRIVATE_KEY_PATH=
# Role
SNOWFLAKE_ROLE=ACCOUNTADMIN

# Nom du warehouse
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# Database 
SNOWFLAKE_DATABASE=PROJECT_DB

